.heading {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: #C7B1A8; /* a light peach color */
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
  margin-top: auto;
}

.heading2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  color: purple;

}






body {
			background-image: linear-gradient(to bottom, #F2DABD, #EFD3C6, #E1CFCB);
			animation: colorChange 10s ease-in-out alternate infinite;
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;
			background-position: center;
			background-blend-mode: overlay;
			overflow: hidden;
			z-index: -1;
		}

		@keyframes colorChange {
			0% {background-image: linear-gradient(to bottom, #F2DABD, #EFD3C6, #E1CFCB);}
			50% {background-image: linear-gradient(to bottom,#D3B9A3, #C7B1A8, #B7A4A4);}
			100% {background-image: linear-gradient(to bottom, #F2DABD, #EFD3C6, #E1CFCB);}
		}

		.bg-image1 {
			background-image: url("img/nude1.jpeg");
			animation: slide1 15s ease-in-out infinite;
			background-size: cover;
			background-repeat: no-repeat;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -2;
		}

		.bg-image2 {
			background-image: url("img/nude2.jpeg");
			animation: slide2 20s ease-in-out infinite;
			background-size: cover;
			background-repeat: no-repeat;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -3;
		}

		@keyframes slide1 {
			0% {transform: translateX(0%);}
			100% {transform: translateX(100%);}
		}

		@keyframes slide2 {
			0% {transform: translateX(100%);}
			100% {transform: translateX(0%);}
		}

    .square-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .square {
      width: 200px;
      height: 200px;
      background-color: #87a6df; /* a dark magenta color */
      color: #FFFFFF; /* white text */
      margin: 2px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      transition: transform 0.3s ease-out;
      margin-top: -15px;
      cursor: pointer;
  user-select: none;
  transition: box-shadow 0.3s ease-in-out;
    }

    .square:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a box shadow on hover */
    }

    .square-1 {
      transform: rotate(10deg);
    }

    .square-2 {
      transform: rotate(-10deg);
    }

    .square-3 {
      transform: rotate(15deg);
    }

    .square h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    .square p {
      font-size: 16px;
    }

    .square-4 {
    width: 200px;
    height: 200px;
    background-color: #dc9bd4; /* a blue color */
    color: #FFFFFF; /* white text */
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: rotate(-20deg);
    position: absolute;
    top: 550px;
    right: 50px;
  }

  .square-4 h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .square-4 p {
    font-size: 16px;
  }

  .square-5 {
  width: 200px;
  height: 200px;
  background-color: #dc9bd4; /* a blue color */
  color: #FFFFFF; /* white text */
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: rotate(20deg);
  position: absolute;
  top: 350px;
  right: 50px;
}

.square-5 h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.square-5 p {
  font-size: 16px;
}

.square-6 {
width: 200px;
height: 200px;
background-color: #dc9bd4; /* a blue color */
color: #FFFFFF; /* white text */
margin: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
transform: rotate(-20deg);
position: absolute;
top:150px;
right: 50px;
}

.square-6 h2 {
font-size: 24px;
margin-bottom: 10px;
}

.square-6 p {
font-size: 16px;
}

.square-7 {
width: 200px;
height: 200px;
background-color: #dc9bd4; /* a blue color */
color: #FFFFFF; /* white text */
margin: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
transform: rotate(20deg);
position: absolute;
top:730px;
right: 50px;
}

.square-7 h2 {
font-size: 24px;
margin-bottom: 10px;
}

.square-7 p {
font-size: 16px;
}

.square-8 {
width: 200px;
height: 200px;
background-color: #dc9bd4; /* a blue color */
color: #FFFFFF; /* white text */
margin: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
transform: rotate(20deg);
position: absolute;
top:-30px;
right: 50px;
}

.square-8 h2 {
font-size: 24px;
margin-bottom: 10px;
}

.square-8 p {
font-size: 16px;
}

.square-9 {
width: 300px;
height: 300px;
background-color: white; /* a blue color */
color: black; /* white text */
margin: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
transform: rotate(-10deg);
position: absolute;
top:100px;
left: 100px;
}

.square-9 h2 {
font-size: 20px;
margin-bottom: 10px;
}

.square-9 p {
font-size: 13px;
}

.square-10 {
width: 250px;
height: 250px;
background-color: #dc9bd4; /* a blue color */
color: black; /* white text */
margin: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
transform: rotate(-10deg);
position: absolute;
top:600px;
left: 100px;
}

.square-10 h2 {
font-size: 20px;
margin-bottom: 10px;
}

.square-10 p {
font-size: 13px;
}

.square-11 {
width: 250px;
height: 250px;
background-color: #87a6df; /* a blue color */
color: black; /* white text */
margin: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
transform: rotate(10deg);
position: absolute;
top:380px;
left: 100px;
}

.square-11 h2 {
font-size: 20px;
margin-bottom: 10px;
}

.square-11 p {
font-size: 13px;
}
